@import './Utils/Reset.scss';
@import './Utils/Font.scss';
@import './Components/todoList.scss';
@import '~bootstrap/scss/bootstrap';

.App {
    background: linear-gradient(to bottom right, #1F0196, #7D289B);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todoContent {
    background: white;
    padding: 40px 30px;
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
}